* {
    font-family: 'VT323', monospace;
}

body {
    display: flex;
    overflow: hidden;
}

.container {
    width: 50%;
    max-height: 100vh;
    /* margin: 0 auto; */
}

.dratini {
    animation: updown 1s ease-in-out infinite alternate-reverse;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY();
    }
}

.container-text {
    width: 50%;
    height: 500px;
    margin: 0 50px;
    border-radius: 112px;
}

.capture {
    padding: 10px 103px;
}

.flex {
    display: flex;
}

.text {
    font-size: 101px;
    border: 20px solid black;
    align-self: center;
    overflow: hidden;
    align-items: end;
}

span {
    color: #3A69AF;
}

.posrelative {
    position: relative;
}

.posabsolute {
    position: absolute;
    top: -135px;
    right: 42%;
}

.ball {
    width: 18%;
    animation: spin 5s infinite ease-in-out alternate-reverse;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);  
    }
}

.fa-caret-down {
    top: 218px;
    right: 47px;
    animation: flash 0.5s infinite linear alternate-reverse;
}

@keyframes flash {
    0% {
        opacity: 1;    
    }
    100% {
        opacity: 0;
    }
}

.box {
    height: 48px;
}

.blue {
    background-color: #3A69AF;
}

.black {
    background-color: black;
}